/*========================================

    Colour Styles
    _____________

========================================*/

/*========================================

    Normal Colours, Just in case

========================================*/

$white-default:  #fff;
$black-default:  #000;

/*========================================

    Main Colours 

========================================*/

$primary:       #c72027;
$secondary:     #2d6d76;
$grey:          #333;
$blue:          #b3dfdb;
$brand-blue:	#08b7db;
$error: 		#ff0000;
$charity-red:	#ed1b2f;

/*========================================

    Colour Variations

========================================*/

$grey-variation-1: lighten($grey, 7%);     //#444444
$grey-variation-2: lighten($grey, 20%);    //#666666
$grey-variation-3: lighten($grey, 65%);    //#d8d8d9 
$grey-variation-4: lighten($grey, 75%);    //#f1f1f2 
$grey-variation-5:	#f9f9f9;
$grey-variation-6:	#bab7be;