/*========================================

    Typography Styles
    _____________

========================================*/

@mixin heading-font {
    font-family: 'Bangers', cursive;
}

@mixin body-font {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

body {
    @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $secondary;
    line-height: 1.2;
    @include heading-font;
}

h1 {
    margin-bottom: .5em;
    @include font-size(60);
}

h2 {
    margin-bottom: .75em;
    @include font-size(45);
}

h3 {
    margin-bottom: .75em;
    @include font-size(35);
}

h4 {
    margin-bottom: 1em;
    @include font-size(25);
}

h5 {
    margin-bottom: 1em;
    @include font-size(20);
}

h6 {
    margin-bottom: 1em;
    @include font-size(18);
}

p,
li,
a {
    line-height: 2;
    margin-bottom: 1em;
    color: $grey-variation-1;
    @include font-size(18);
}

a {
    &:hover {
        color: $secondary;
    }
}

/*========================================

	Typography Helpers

========================================*/

.heading-font {
    @include heading-font;
}

.body-font {
    @include body-font;
}
