button,
.button {
	padding: 15px;
	cursor: pointer;
	border-radius: 8px;
	color: $white-default;
	display: inline-block;
	@include heading-font;
	@include font-size(25);
	border: 3px solid $grey-variation-6;
	@include breakpoint(phablet) { 
		padding: 12px;
		@include font-size(20);
	}
}

.primary-button {
	background: $primary;
	&:hover {
		background: darken($primary, 10%);
	}
}

.secondary-button {
	background: $secondary;
	&:hover {
		background: darken($secondary, 10%);
	}
}