.donate-sticker {
	left: 0;
	bottom: 0;
	margin: 0;
	display: none;
	position: fixed;
	text-decoration: none;
	background: $charity-red;
	z-index: z(the-godfather) + 1;
	border-top-right-radius: 5px;
   	padding: 15px 15px 15px 10px;
	&-logo {
	    width: 70px;
	    display: block;
        margin-bottom: 10px
	}
	&-cta {
		display: block;
	    font-weight: bold;
		padding: 5px 10px;
		text-align: center;
		color: $charity-red;
		vertical-align: top;
		@include font-size(10);
		text-transform: uppercase;
		background: $white-default;
		@include breakpoint(tablet) {
			background: none;
			color: $white-default;
			padding: 4px 0 4px 30px;
		}
	}
	.game-over & {
		display: block;
	}
	@include breakpoint(tablet) {
		img {
			display: none;
		}
		height: 55px;
		border-top-right-radius: 3px;
		width: 150px;
		background: url('../img/bhf-mobile.png') no-repeat $charity-red;
		background-size: auto 40px;
		background-position: 10px 10px
	}
}