.form-row {
	margin-bottom: 30px;
	&.mbn {
		margin-bottom: 0;
	}
	@include breakpoint(tablet) {
		margin-bottom: 20px;
	}	
}

label {
	display: block;
	margin-bottom: 10px;
	@include heading-font;
	@include font-size(24);
	color: $grey-variation-1;
	&.error {
		color: $error;
		margin: 10px 0 0;
		@include font-size(22);
		@include breakpoint(tablet) {
			@include font-size(19);
		}
	}
	@include breakpoint(tablet) {
		@include font-size(19);
	}
}

input[type="text"] {
	width: 100%;
	padding: 15px;
	margin: 0 auto;
	max-width: 515px;
	text-align: center;
	@include font-size(20);
	border: 2px solid $grey-variation-3;
	&.error {
		border-color: $error;
	}
	@include breakpoint(tablet) {
		padding: 10px;
		@include font-size(18);
	}
}