.game-window {
	top: 50%;
	left: 20%;
	width: 60%;
	height: 90%;
	display: none;
	position: fixed;
	cursor: default;
	max-height: 700px;
	transform: translateY(-50%);
	z-index: z(the-godfather) + 1;
	background: darken($white-default, 5%);
	padding: 60px 30px 30px;
	@include breakpoint(tablet) {
		padding: 20px;
	}
	&-snow {
		position: absolute;
		top: -20px;
		left: -15px;
		width: calc(100% + 30px);
		border-radius: 20px;
		height: 30px;
		background: $white-default;
		box-shadow: 0 2px 2px rgba($black-default, 0.2);
		&:before {
			content: '';
			left: 15px;
			top: 10px;
			height: 40px;
			width: calc(100% - 30px);
			display: block;
			position: absolute;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			background: darken($white-default, 5%);
			@include breakpoint(tablet) {
				height: 30px;
			}
		}
	}
	&-inner {
		&.leaderboard-inner, &.form-inner {
			display: none;
		}
	}
	&-inner-parent {
		max-height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	&-title {
	    max-width: 600px;
    	margin: 20px auto;
		text-align: center;
		@include font-size(35);
		@include breakpoint(tablet) {
			@include font-size(25);
		}
	}
	&-intro-text {
		line-height: 1.2;
		max-width: 500px;
		text-align: center;
		@include heading-font;
		@include font-size(25);
    	margin: 0 auto 10px auto;
    	@include breakpoint(tablet) {
			@include font-size(19);
		}
	}
	&-btn-wrapper {
		margin: 20px auto;
		text-align: center;
	}
	&-pre-game-controls {
		display: block;
		.game-over & {
			display: none;
		}
	}
	&-post-game-controls {
		display: none;
		.game-over & {
			display: block;
		}
	}
	&-btn {
		margin: 10px;
		min-width: 200px;
		@include breakpoint(phablet) {
			margin: 5px 0;
			width: 100%;
		}
	}
	&-form {
		padding: 40px;
		max-width: 640px;
		margin: 40px auto;
		text-align: center;
		background: $grey-variation-5;
		@include breakpoint(tablet) {
			padding: 25px;
			margin: 25px auto;
		}
	}
	.game-over & {
		padding-top: 15px;
	}
	@include breakpoint(tablet) {
		left: 15px;
		width: calc(100% - 30px);
	}
}

.rounded-container {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 2px 2px rgba($black-default, 0.2);
}

.game-loading {
	top: 10%;
	left: 25%;
	width: 50%;
	height: 80%;
	position: fixed;
	z-index: z(the-godfather);
	@include breakpoint(tablet) {
		width: 100%;
		left: 0;
	}
}

.terms-link {
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	@include font-size(11);
}