.game-timer {
	top: 15px;
	left: 20px;
	display: none;
	position: fixed;
	padding-right: 5px;
	@include heading-font;
	@include font-size(35);
	@include select-none;
	span {
		display: inline-block;
	}
}