.leaderboard {
    width: 100%;
    margin: 0 auto;
    max-width: 720px;
	background: $grey-variation-5;
	&-row {
		font-size: 0;
		&:nth-child(odd) {
			background: $grey-variation-4;
		}
		&.header-row {
			background: $blue;
		}
	}
	&-cell {
	    vertical-align: top;
		display: inline-block;
		&:first-child {
			width: 100px;
			text-align: center;
			@include breakpoint(phablet) {
				width: 50px;
			}
		}
		&:nth-child(2) {
			width: calc(60% - 50px);
			@include breakpoint(phablet) {
				width: calc(60% - 25px);
			}
		}
		&:nth-child(3) {
			width: calc(40% - 50px);
			@include breakpoint(phablet) {
				width: calc(40% - 25px);
			}
		}
	}
	&-row-title, &-cell-title {
		margin: 0;
		padding: 10px 0;
		@include heading-font;
	}
	&-row-title {
		@include font-size(20);
		@include breakpoint(phablet) {
			@include font-size(16);
		}
	}
	&-cell-title {
		color: $grey-variation-2;
		@include breakpoint(phablet) {
			@include font-size(16);
		}
	}
}