.santa {
	left: -150px;
	position: fixed;
	z-index: z(default);
	display: inline-block;
	@include gpu-boost;
	@include select-none;
	&-img {
		width: 100%;
		height: 100%;
		position: absolute;
		.front & {
			animation: play-front 1s steps(8) infinite;
			background: url('../img/santa-brian.png') left center;
			background-size: 1200px 150px;
		}
		.mid & {
			animation: play-mid 1s steps(8) infinite;
			background: url('../img/santa.png') left center;
			background-size: 800px 100px;
		}
		.top & {
			animation: play-top 1s steps(8) infinite;
			background: url('../img/santa-alan.png') left center;
			background-size: 400px 50px;
		}
	}
	&.front {
		bottom: 5%;
		width: 150px;
		height: 150px;
	}
	&.mid {
		bottom: 35%;
		width: 100px;
		height: 100px;
		
	}
	&.top {
		bottom: 60%;
		width: 50px;
		height: 50px;
	}
	&.run {
		animation: run-santa 12s 4;
		animation-timing-function: linear;
		@include breakpoint(desktop) {
			animation: run-santa 9s 5;
			animation-timing-function: linear; 
		}
		@include breakpoint(tablet) {
			animation: run-santa 7s 8;
			animation-timing-function: linear;
		}
		@include breakpoint(mobile) {
			animation: run-santa 3s 15;
			animation-timing-function: linear;
		}
	}
}

@-webkit-keyframes run-santa {
	0% {
		left: -150px;
	}
	100% {
		left: 100%;
	}
}

@-moz-keyframes run-santa {
	0% {
		left: -150px;
	}
	100% {
		left: 100%;
	}
}

@-o-keyframes run-santa {
	0% {
		left: -150px;
	}
	100% {
		left: 100%;
	}
}

@keyframes run-santa {
	0% {
		left: -150px;
	}
	100% {
		left: 100%;
	}
}

@-webkit-keyframes play-front {
	100% {
		background-position: -1200px;
	}
}

@-moz-keyframes play-front {
	100% {
		background-position: -1200px;
	}
}

@-o-keyframes play-front {
	100% {
		background-position: -1200px;
	}
}

@keyframes play-front {
	100% {
		background-position: -1200px;
	}
}

@-webkit-keyframes play-mid {
	100% {
		background-position: -800px;
	}
}

@-moz-keyframes play-mid {
	100% {
		background-position: -800px;
	}
}

@-o-keyframes play-mid {
	100% {
		background-position: -800px;
	}
}

@keyframes play-mid {
	100% {
		background-position: -800px;
	}
}

@-webkit-keyframes play-top {
	100% {
		background-position: -400px;
	}
}

@-moz-keyframes play-top {
	100% {
		background-position: -400px;
	}
}

@-o-keyframes play-top {
	100% {
		background-position: -400px;
	}
}

@keyframes play-top {
	100% {
		background-position: -400px;
	}
}