.score-count {
	top: 15px;
	right: 20px;
	display: none;
	position: fixed;
	padding-right: 5px;
	@include select-none;
	@include heading-font;
	@include font-size(35);
}

.score-increment {
	top: 50%;
	left: 50%;
	opacity: 1;
	position: fixed;
	transition: none;
	padding-right: 5px;
	@include select-none;
	@include heading-font;
	@include font-size(100);
	z-index: z(the-godfather);
	@include gpu-boost;
	transform: translate(-50%, -50%) scale(0);
	&-show {
		opacity: 0;
		transition: opacity 1.2s, transform .6s;
		transform: translate(-50%, -50%) scale(1);
	}
}

.final-score {
	display: none;
	.game-over & {
		display: block;
		@include font-size(55);
		@include breakpoint(tablet) {
			@include font-size(35);
		}
	}
}