.snow {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: none;
	position: absolute;
	animation: snow-fall 10s linear infinite;
	background-image: url('../img/s1.png'), url('../img/s2.png'), url('../img/s3.png');
	@include breakpoint(mobile) {
		display: none;
	}
}
@keyframes snow-fall {
	0% {
		background-position: 0 0, 0 0, 0 0;
	}
	50% {
		background-position: 500px 500px, 100px 200px, -100px 150px;
	}
	100% {
		background-position: 500px 1000px, 200px 400px, -100px 300px;
	}
}
