.snowball {
	height: 150px;
	width: 150px;
	position: fixed;
	top: 110%;
	left: 50%;
	transition: top 500ms cubic-bezier(.165, .84, .385, 1.31), left 500ms cubic-bezier(.165, .84, .385, 1.31), transform 500ms ease;
	transform: translate(-50%, -50%);
	z-index: z(the-godfather);
	background: url('../img/snowball.png');
	background-size: 100% 100%;
	@include gpu-boost;
	&.thrown {
		transform: translate(-50%, -50%) scale(.2) rotate(360deg);
	}
}
