.sound-control {
	margin: 0;
	right: 25px;
	bottom: 25px;
	padding: 10px;
	position: fixed;
	text-align: center;
	border-radius: 100%;
	color: $black-default;
	text-decoration: none;
	@include font-size(22);
	z-index: z(the-godfather) + 1;
	background: rgba($white-default, 0.75);
	@include breakpoint(small-desktop) {
		display: none;
	}
}
