.tree-line {
	&-front,
	&-mid,
	&-top {
		width: 100%;
        overflow: hidden;
		position: absolute;
		white-space: nowrap;
	}
	&-front {
		bottom: 10%;
	}
	&-mid {
		bottom: 40%;
		opacity: .8;
	}
	&-top {
		bottom: 60%;
		opacity: .6;
	}
	&-img {
		position: relative;
		display: inline-block;
	}
}
