/*========================================

    Layout Styles
    _____________

    For Header, Main and Footer sections

========================================*/

html,
body {
	top: 0;
	left: 0;
	position: fixed;
}

body,
html,
main,
.scene {
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

main {
	position: relative;
	&::before,
	&::after {
		content: '';
		width: 100%;
		display: block;
		position: absolute;
	}
	&::before {
		top: 0;
		height: 30%;
		@include vertical-gradient($blue, #e6e6bc);
	}
	&::after {
		top: 30%;
		height: 70%;
		border-top: 2px solid $white-default;
		@include vertical-gradient($grey-variation-4, $blue);

	}
}

.scene {
	z-index: z(default);
	position: relative;
	@include select-none;
}

body {
	cursor: crosshair;
	cursor: url('../cursor.png') 25 15, auto;
	@include breakpoint(tablet) {
		cursor: default;
	}
}

.audio-loop {
	max-height: 0;
	max-width: 0;
	overflow: hidden;
	opacity: 0;
}
